<h1 style="margin:0">Adauga utilizator</h1>

<form class="form" [formGroup]="angForm" (ngSubmit)="onSubmit()" [hidden]="submitted">
    <section class="form-block">
        <!-- <label>Add Employee Address</label> -->
        <div class="form-group">
            <label for="empFirstName">First name</label>
            <label for="empFirstName" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="angForm.get('firstName').invalid
                    && (angForm.get('firstName').dirty || angForm.get('firstName').touched)">
                <input id="empFirstName" type="text" formControlName="firstName">
                <span class="tooltip-content">
                    Name is required.
                </span>
            </label>

        </div>

        <div class="form-group">
            <label for="empLastName">Last name</label>
            <label for="empLastName" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="angForm.get('firstName').invalid
                    && (angForm.get('firstName').dirty || angForm.get('firstName').touched)">
                <input id="empLastName" type="text" formControlName="lastName">
                <span class="tooltip-content">
                    Name is required.
                </span>
            </label>

        </div>

        <!-- <div formGroupName="address">
            <div class="form-group">
                <label for="empLastName">Last name</label>
                <label for="empLastName" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="employeeAddressForm.get('address').get('postalCode').invalid
                        && (employeeAddressForm.get('address').get('postalCode').dirty ||
                        employeeAddressForm.get('address').get('postalCode').touched)">
                    <input id="empLastName" type="text" formControlName="lastName">
                    <span class="tooltip-content">
                        Postal code is required.
                    </span>
                </label>
            </div>
            <div class="form-group">
                <label for="empCountry">Country</label>
                <label for="empCountry" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="employeeAddressForm.get('address').get('country').invalid
                        && (employeeAddressForm.get('address').get('country').dirty ||
                        employeeAddressForm.get('address').get('country').touched)">
                    <input id="empCountry" type="text" formControlName="country">
                    <span class="tooltip-content">
                        Country is required.
                    </span>
                </label>
            </div>
        </div> -->
        <button class="btn btn-primary" type="submit" [disabled]="angForm.invalid">Salveaza</button>
        <button (click)="goBack()" class="btn">Renunta</button>
        <!-- <button type="submit" [disabled]="!form.valid">Submit</button>
        <button (click)="partialUpdate()">Partial Update</button>
        <button (click)="fullUpdate()">Full Update</button>
        <button (click)="reset()">Cancel</button> -->
    </section>
</form>