<h1 style="margin:0">Utilizatori</h1>

<button class="btn btn-primary" [routerLink]="['/users/add']">
    <clr-icon shape="plus"></clr-icon>
    Adauga utilizator
</button>
<!-- <button class="btn btn-primary" (click)="basic = true">Show modal</button>

<clr-modal [(clrModalOpen)]="basic">
    <h3 class="modal-title">I have a nice title</h3>
    <div class="modal-body">
        <p>But not much to say...</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="basic = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="basic = false">Ok</button>
    </div>
</clr-modal> -->

<!-- <p>
    <button class="btn btn-primary" (click)="basic = true;">Show modal</button>
    <span>Model Info: {{diagnostic}}</span>
</p>
<clr-modal [(clrModalOpen)]="basic">
    <h3 class="modal-title">I have a nice title</h3>
    <div class="modal-body">
        <p>But not much to say...</p>
        <form #form="ngForm" class="form" (ngSubmit)="onSubmit(model)">
            <section class="form-block">
            <div class="form-group">
                    <label for="contactInfo">Contact Info</label>
                    <input type="text" id="contactInfo"
                           [(ngModel)]="model.contactInfo"
                           name="contactInfo">
                    <label for="contactInfo">Model Info: {{diagnostic}}</label>
                </div>
                <button type="submit">Submit</button>
            </section>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="basic = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="basic = false">Ok</button>
    </div>
</clr-modal> -->

<table class="table table-compact2">
    <thead>
        <tr>
            <th class="left">Nume</th>
            <th class="left">Prenume</th>
            <th>Varsta</th>
            <th>Id</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td class="left">
                <a href="#" [routerLink]="['/users', user._id]">{{user.lastName}}

                </a>
            </td>
            <td class="left">{{user.firstName}}</td>
            <td>{{user.age}}</td>
            <td>{{user._id}}</td>
            <td>
                <button style="margin-top:0; margin-bottom:1px; padding:0; line-height: 0; height: 0.4rem; border:0;" class="btn btn-sm btn-link"
                    (click)="deleteUser(user._id)">Sterge</button>
            </td>
        </tr>
    </tbody>
</table>