<h1>{{title}}</h1>

<button class="btn btn-primary" [routerLink]="['/entities/add']">
    <clr-icon shape="plus"></clr-icon>
    Adauga entitate
</button>

<button type="button" [clrLoading]="refreshBtnState" class="btn btn-icon" (click)="refreshEntityList()">
    <clr-icon shape="refresh"></clr-icon>
    Refresh
</button>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th class="left">Nume afisat</th>
            <th class="left">Numa la plural</th>
            <th class="left">Numa unic</th>
            <th class="left">Descriere</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let entity of entities">
            <td width="60" style="padding:2px 2px 2px 5px">
                <a href *ngIf="entity.image">
                    <img [src]="entity.image.small" width="60" />
                </a>
            </td>
            <td class="left">
                <a href="#" [routerLink]="['/entities', entity._id]">{{entity.displayName}}</a>
            </td>
            <td class="left">{{entity.pluralName}}</td>
            <td class="left">{{entity.uniqueName}}</td>
            <td class="left">{{entity.description}}</td>
            <td>
                <button style="margin-top:0; margin-bottom:1px; padding:0; line-height: 0; height: 0.4rem; border:0;" class="btn btn-sm btn-link"
                    (click)="deleteEntity(entity)">Sterge</button>
            </td>
        </tr>
    </tbody>
</table>

<app-modal-component [btnText]="'Close'"></app-modal-component>