<!-- <section class="userapp">
    <header class="header">
        <h1>Users</h1>
        <input class="new-user" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newUser.firstName" (keyup.enter)="addUser()">
    </header>
    <section class="main" *ngIf="users.length > 0">
        <ul class="user-list">
            <li *ngFor="let user of users" [class.completed]="user.complete">
                <div class="view">
                    <input class="toggle" type="checkbox" (click)="toggleUserComplete(user)" [checked]="user.complete">
                    <label>{{user.firstName}}</label>
                    <button class="destroy" (click)="removeUser(user)"></button>
                </div>
            </li>
        </ul>
    </section>
    <footer class="footer" *ngIf="users.length > 0">
        <span class="user-count">
            <strong>{{users.length}}</strong> {{users.length == 1 ? 'item' : 'items'}} left</span>
    </footer>
</section> -->

<h1 style="margin:0">Users</h1>

<button class="btn btn-primary">
    <clr-icon shape="plus"></clr-icon>
    Adauga utilizator
</button>

<table class="table">
    <thead>
        <tr>
            <th>Decimal</th>
            <th>Hexadecimal</th>
            <th>Binary</th>
            <th>Roman Numeral</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>I</td>
        </tr>
        <tr>
            <td>5</td>
            <td>5</td>
            <td>101</td>
            <td>V</td>
        </tr>
        <tr>
            <td>10</td>
            <td>A</td>
            <td>1010</td>
            <td>X</td>
        </tr>
        <tr>
            <td>15</td>
            <td>F</td>
            <td>1111</td>
            <td>XV</td>
        </tr>
    </tbody>
</table>