<clr-alert [clrAlertType]="'alert-danger'" [clrAlertClosable]="false" *ngIf="!entityForm.valid && formSubmitAttempt">
    <div class="alert-item">
        <span class="alert-text">
            Formular invalid. Corecteaza informatiile din campurile marcate.
        </span>
    </div>
</clr-alert>

<h1>{{title}}</h1>

<form class="form" [formGroup]="entityForm" (ngSubmit)="onSubmit()" [hidden]="submitted" novalidate>
    <section class="form-block">
        <!-- <label>Add Employee Address</label> -->

        <div class="form-group row">
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                <label for="entityName" class="required">Nume afisat:</label>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <input id="entityName" type="text" class="form-control" formControlName="displayName" [class.lm-invalid]="isFieldInvalid('displayName')">
                <div class="lm-hint-notes">
                    Numele entitatii, la singular. Ex: Materie prima, Produs etc
                </div>
                <app-display-error *ngIf="isFieldInvalid('displayName')" [control]=entityForm.controls.displayName></app-display-error>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                <label for="entityPluralName" class="required">Nume la plural:</label>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <input id="entityPluralName" type="text" class="form-control" formControlName="pluralName" [class.lm-invalid]="isFieldInvalid('pluralName')">
                <div class="lm-hint-notes">
                    Ex: Materii Prime, Produse etc
                </div>
                <app-display-error *ngIf="isFieldInvalid('pluralName')" [control]=entityForm.controls.pluralName></app-display-error>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                <label for="entityUniqueName" class="required">Nume unic:</label>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <input id="entityUniqueName" type="text" class="form-control" formControlName="uniqueName" [class.lm-invalid]="isFieldInvalid('uniqueName')">
                <div class="lm-hint-notes">
                    Nume unic, nemodificabil, folosit ca referinta in DB (slug). Ex: materie-prima, produs etc
                </div>
                <app-display-error *ngIf="isFieldInvalid('uniqueName')" [control]=entityForm.controls.uniqueName></app-display-error>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                <label for="entityDescription">Descriere:</label>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
                <textarea id="entityDescription" rows="3" class="form-control" formControlName="description" [class.lm-invalid]="isFieldInvalid('description')"></textarea>
                <div class="lm-hint-notes">
                    Nume unic, nemodificabil, folosit ca referinta in DB (slug). Ex: materie-prima, produs etc
                </div>
                <app-display-error *ngIf="isFieldInvalid('description')" [control]=entityForm.controls.description></app-display-error>
            </div>
        </div>

        <button type="submit " class="btn btn-primary ">Salveaza</button>
        <button type="button " (click)="goBack() " class="btn ">Renunta</button>

    </section>
</form>